$primary   : #1890FF;
$secondary : #232f3e;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$primary-grad: linear-gradient(#1488cc, #2b32b2);
$primary-gradient: linear-gradient(#1890FF, #60AEEB);
$primary-primary-gradient: linear-gradient(#1890FF, #60AEEB);
